body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 8px;
    position: relative;
}

h1 {
    text-align: center;
    color: #333333;
    position: relative;
}

.deployment-id {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.deployment-id label {
    margin-right: 5px;
}

.deployment-id input[readonly] {
    background-color: #e9e9e9;
    color: #a9a9a9;
    pointer-events: none;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 10px;
}

.form-group label {
    flex: 0 0 200px;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="datetime-local"],
.form-group input[type="date"],
.form-group select,
.form-group textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    max-width: calc(100% - 220px);
}

.form-group input[type="datetime-local"] {
    width: 180px;
}

.form-group input[type="time"],
.form-group input[type="datetime-local"],
.form-group input[type="date"] {
    flex: unset;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group textarea#currentSituation,
.form-group textarea#supportAdvice1,
.form-group textarea#supportAdvice2 {
    height: 100px;
}

.group {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.radio-group {
    display: table-row-group;
    gap: 10px;
    align-items: center;
}

.radio-group label {
    white-space: nowrap;
}

.radio-group input[type="radio"]:checked + label {
    color: #4CAF50; /* 選択されたラジオボタンのラベル色 */
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}