/* 既存のスタイル */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  position: relative;
}

h1 {
  text-align: center;
  color: #333333;
  position: relative;
}

#office {
  text-align: right;
  margin-right: 10px;
  height: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  gap: 10px;
}

.form-group label {
  flex: 0 0 200px;
  font-weight: bold;
}

.form-group input[type='text'],
.form-group input[type='datetime-local'],
.form-group input[type='date'],
.form-group select,
.form-group textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group input[type='datetime-local'] {
  width: 180px;
}

.form-group input[type='time'],
.form-group input[type='datetime-local'],
.form-group input[type='date'] {
  flex: unset;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group textarea#currentSituation,
.form-group textarea#supportAdvice1,
.form-group textarea#supportAdvice2 {
  height: 100px;
}

.radio-group {
  display: block;
  gap: 10px;
  align-items: center;
}

.radio-group label {
  white-space: nowrap;
}

.radio-group input[type='radio']:checked + label {
  color: #4caf50; /* 選択されたラジオボタンのラベル色 */
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button#setNow {
  width: 180px;
}

button:hover {
  background-color: #45a049;
}

.loading-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-overlay .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-overlay p {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

.staff-only {
  display: none;
}

.input-group {
  display: flex;
  flex-direction: column;
}

/* スマホ用のスタイル */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .form-group label {
    flex: 0 0 30px;
    width: 100%;
    margin-bottom: 5px;
  }

  .form-group input[type='text'],
  .form-group input[type='datetime-local'],
  .form-group input[type='date'],
  .form-group input[type='time'],
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 12px; /* パディングを調整して入力フィールドを大きくする */
    font-size: 16px; /* フォントサイズを調整して視認性を向上 */
  }

  .form-group textarea#currentSituation,
  .form-group textarea#supportAdvice1,
  .form-group textarea#supportAdvice2 {
    flex: auto;
    height: 100px;
  }

  .staff-only {
    display: none;
  }
}
